body {
    background-color: #dcdcdc;
    padding-top: 5%;
    display: grid;
    justify-content: center;
  }

  #canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  .content {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    font-family: cursive, monospace;
    /* letter-spacing: 0.25em; */
  }

  #switchable {
    display: inline-block;
  }

  .lds-ellipsis {
    display: inline-block;
    position: absolute;
    width: 40px;
    height: 20px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 30px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
